<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="../static/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="profile-container">
        <h2>Mi Perfil</h2>

        <div class="profile-icon">
            <i class="fas fa-user"></i>
        </div>

        <div class="profile-item">
            <i class="fas fa-user"></i>
            <span>Usuario:</span> {{ usuario }}
        </div>
        <div class="profile-item">
            <i class="fas fa-envelope"></i>
            <span>Correo:</span> {{ email }}
        </div>

        <div class="profile-item">
            <i class="fas fa-map-marker-alt"></i>
            <span>Dirección:</span> {{ direccion }}
        </div>

        <div class="profile-item">
            <i class="fas fa-user-graduate"></i>
            <span>Rol:</span> {{ rol }}
        </div>

        <a href="/pagina_principal" class="btn-back">Volver a Inicio</a>

        <a href="{{ url_for('editar_perfil') }}" class="btn-back">Editar Perfil</a>
    </div>
</body>
</html>