<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis estadisticas</title>
    <link rel="stylesheet" href="../static/mi_estadisticas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>

    <div class="container">

        <h1>
            <i class="fas fa-chart-pie"></i>
            Mis Estadísticas
        </h1>

        <div class="estadistica">
            Total registros: {{ total }}
        </div>

        <div class="estadistica">
            Asistí: {{ asistio }}
        </div>

        <div class="estadistica">
            Falté: {{ falte }}
        </div>

        <div class="estadistica porcentaje">
            Porcentaje de asistencia: {{ porcentaje }}%
        </div>

        <a href="/pagina_principal">
            <i class="fas fa-arrow-left"></i>
            Volver
        </a>

    </div>

</body>
</html>